<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="css/main.css">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 


<div class="jumbotron " style="height:100%">
    <div class="container vertical-center">
        <h1>Mercari Shipping Label Cropper - v2.0.0</h1>
        <p>Copy and paste the link to a Mercari Shipping PDF file in your e-mail, and then let the magic happen!</p>
        <p>
            <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              How to Use
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <img src="{{url_for('static', filename='how-to-use.png')}}" width="100%" height="100%">
            </div>
        </div>
        <form method="POST" action="/crop_pdf">
            <div class="form-group">
                <label for="pdf_url">Link to PDF File</label>
                <input type="text" class="form-control" id="pdf_url" name="url" aria-describedby="pdfurl">
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <p class="float-right">Made with 💓 by <a href="https://github.com/ChrisVo">Chris Vo</a></p>
    </div>
</div>